<% @usuario ||= current_user %>
<div class="stats">
  <a href="<%= following_usuario_path(@usuario) %>">
    <strong id="following" class="stat">
      <%= @usuario.followed_usuarios.count %>
    </strong>
    Siguiendo
  </a>
  <a href="<%= followers_usuario_path(@usuario) %>">
    <strong id="followers" class="stat">
      <%= @usuario.followers.count %>
    </strong>
    Seguidores
  </a>
</div>