<% provide(:title,'Acerca de') %>
<section>
	<div class="hero-unit">
		<h4><%= yield(:title) %></h4>
		<p>Esta es una de las versiones de Desarrollo de Aplicacion Sample en Ruby.</p>
		<p>Este sitio y su contenido Tienen un proposito meramente demostrativo</p>
		<p>Se obtuvo como fruto un aprendizaje intensivo acerca de Ruby on rails y muchas de las ventajas y Herramientas que 
			se pueden incorporar.</p>
		<p>Puedes aportar al Código via github: <span class="label label-warning"> https://github.com/fjavier/tercer_demo_rails</span></p>
	<p></p>
	</div>

</section>
<p>Desarrollado por fjavier.</p>
