<% provide(:title,'Ayuda') %>
<div class="hero-unit">
<h4>Usted se encuentra en la pagina de <%= yield(:title) %></h4>

<p>Para poder ingresar a la aplicacion, dirijase al menu superior y presione <span class="label">Ingresar</span></p>
<p>Si aun no se encuentra registrado en la aplicación, de click en <span class="label">Inicio</span> , y en la
pantalla de Bienvenida presiones el boton <span class="label">Registrar</span>. </p>
<p>Para <span class="label label-important"> Registrarse</span> debera rellenar los Campos correspondientes al Formulario.</p>
</div>


