<% provide(:title,'Contacto') %>
<section>
<div class="hero-unit">
	<h1>Puedo ser tu <%= yield(:title) %> </h1>	
	<p><small> Autor: FBriceño</small></p>
	<p>Esta vista se creo con el fin de que pudieras tener acceso a Fbriceño, El desarrollador de este sitio</p>
	<p>esto por si quieres sugerir algo a la aplicacion, informar acerca de un error, o bien invitarme a una Pizza.. :D</p>

	<span class="label label-warning"> Mi correo:fjavier.cgam@gmail.com</span>
	<span class="label label-info"> Mi Skype:efjeibi_01</span>
</div>
</section>

<ul>
    <li>Email: fjavier.cgam@gmail.com</li>
</ul>

