<!-- <% provide(:title,'Inicio') %> -->
<h1><%= yield(:title) %></h1>
<p>Esta pagina Tiene como Objeto una Demostracion, con una aplicacion hecha en Ruby, El sistema de Plantillas</p>
<p>De igual manera  se realizaron Pruebas con Rspec</p>

